<?xml version="1.0" encoding="UTF-8"?>
<settings xmlns="http://maven.apache.org/SETTINGS/1.0.0" 
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xsi:schemaLocation="http://maven.apache.org/SETTINGS/1.0.0 
		http://maven.apache.org/xsd/settings-1.0.0.xsd">
	<localRepository>C:\dev\repository</localRepository>

	<!--mirrors>
		<mirror>
			<id>mavenproxyCentral</id>
			<name>DTSI proxy for central</name>
			<url>http://maven-proxy.recif.nc/repository/public</url>
			<mirrorOf>central</mirrorOf>
		</mirror>
		<mirror>
			<id>mavenproxyJBoss</id>
			<name>DTSI proxy for jBoss</name>
			<url>http://maven-proxy.recif.nc/repository/jBoss</url>
			<mirrorOf>jBoss</mirrorOf>
		</mirror>
		<mirror>
			<id>mavenproxyGoogle</id>
			<name>DTSI proxy for google</name>
			<url>http://maven-proxy.recif.nc/repository/google</url>
			<mirrorOf>google</mirrorOf>
		</mirror>
		<mirror>
			<id>mavenproxyJasig</id>
			<name>DTSI proxy for jasig</name>
			<url>http://maven-proxy.recif.nc/repository/jasig</url>
			<mirrorOf>jasig</mirrorOf>
		</mirror>
		<mirror>
			<id>mavenproxyApacheSnapshots</id>
			<name>DTSI Maven proxy for apache snapshots</name>
			<url>http://maven-proxy.recif.nc/repository/snapshots</url>
			<mirrorOf>apache-snapshots</mirrorOf>
		</mirror>
		<mirror>
			<id>mavenproxyOpenQA</id>
			<name>DTSI Maven proxy for openQA</name>
			<url>http://maven-proxy.recif.nc/repository/openqa</url>
			<mirrorOf>openqa</mirrorOf>
		</mirror>
	</mirrors-->

<profiles>
	<profile>
			<id>default-repositories</id>
			<!-- Profil par défaut (indépendant de la plateforme de déploiement) -->
	<properties>
				<downloadSources>true</downloadSources>
				<log4j.version>1.2.14</log4j.version>
				<java.compile.version>1.6</java.compile.version>
				<project.outputEncoding>UTF-8</project.outputEncoding>
				<project.build.sourceEncoding>${project.outputEncoding}</project.build.sourceEncoding>
				<project.reporting.outputEncoding>${project.outputEncoding}</project.reporting.outputEncoding>
	</properties>
			<!--repositories>
				<repository>
					<id>internal</id>
					<name>DTSI internal repository</name>
					<url>http://maven.recif.nc</url>
					<layout>default</layout>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>central</id>
					<name>DTSI central repository</name>
					<url>http://maven-proxy.recif.nc/repository/public</url>
					<layout>default</layout>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>apacheSnapshots</id>
					<name>DTSI apache snapshots repository</name>
					<url>http://maven-proxy.recif.nc/repository/snapshots</url>
					<layout>default</layout>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>jBoss</id>
					<name>DTSI jBoss repository</name>
					<url>http://maven-proxy.recif.nc/repository/jBoss</url>
					<layout>default</layout>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>google</id>
					<name>DTSI google repository</name>
					<url>http://maven-proxy.recif.nc/repository/google</url>
					<layout>default</layout>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>
				<repository>
					<id>jasig</id>
					<name>DTSI jasig repository</name>
					<url>http://maven-proxy.recif.nc/repository/jasig</url>
					<layout>default</layout>
					<snapshots>
						<enabled>false</enabled>
					</snapshots>
				</repository>
			</repositories>
			<pluginRepositories>
				<pluginRepository>
					<id>internal</id>
					<name>DTSI plugin repository, which is just the internal repository</name>
					<url>http://maven.recif.nc</url>
					<layout>default</layout>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</pluginRepository>
				<pluginRepository>
					<id>apacheSnapshots</id>
					<name>DTSI apache snapshots repository</name>
					<url>http://maven-proxy.recif.nc/repository/snapshots</url>
					<layout>default</layout>
					<snapshots>
						<enabled>true</enabled>
					</snapshots>
				</pluginRepository>
			</pluginRepositories-->
	</profile>
	
	<profile>
			<id>dev</id>
			<properties>
				<env>dev</env>	
				<!-- Logs -->
				<log.server.dir>${appServer.home}/logs/pacifisc</log.server.dir>
				<log.level>debug</log.level>
				<log.appenders>stdout</log.appenders>
				<!-- Database -->
				<database.server>192.168.106.226</database.server>
				<database.port>42160</database.port>
				<database.service>pacdev</database.service>
				<database.user>P_MERHEB</database.user>
				<database.password>PME</database.password>
				<database.username>${database.user}_V1</database.username>
				<database.schema>${database.username}</database.schema>
				<!-- Database tests -->
				<database.test.server>${database.server}</database.test.server>
				<database.test.port>${database.port}</database.test.port>
				<database.test.service>${database.service}</database.test.service>
				<database.test.username>${database.user}_T</database.test.username>
				<database.test.password>${database.password}</database.test.password>
				<database.test.schema>${database.test.username}</database.test.schema>
				<!-- Hibernate -->
				<hibernate.show_sql>true</hibernate.show_sql>
				<hibernate.use_sql_comments>true</hibernate.use_sql_comments>
				<hibernate.format_sql>false</hibernate.format_sql>
			</properties>
	</profile>
</profiles>
<activeProfiles>
	<activeProfile>default-repositories</activeProfile>
	<activeProfile>dev</activeProfile>
</activeProfiles>

</settings>